@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css");
body {
  font-family: "poppins", sans-serif;
  color: #101010;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading_container h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*header section*/
.hero_area {
  padding: 0 45px;
}

.hero_area.sub_pages {
  height: auto;
}

.navbar-brand {
  margin: 15px 0;
  padding: 0;
}

.navbar-brand span {
  font-size: 65px;
  font-weight: bold;
  /* color: #000000; */
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}


.custom_nav-container {
  z-index: 99999;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}




/*end header section*/
.slider_section2 .slider_container {
  color: #fefefe;
  background-color: #7674b8;
  padding: 25px;

}

.slider_section2 .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section2 .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px;
}


.slider_section2 .detail-box h1 {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.slider_section2 .img-box img {
  max-height: 300px;
  z-index: 0;
}
/* --- */

.slider_section6 .slider_container {
  color: #fefefe;
  background-color: #4a8437;
  padding: 25px;

}

.slider_section6 .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.slider_section6 .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px;
}


.slider_section6 .detail-box h1 {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 10px;
} 

.slider_section6 .img-box img {
  max-width: 1000px;
  max-height: 400px;
  z-index: 0;
}
/* --- */

.slider_section1 {
  color: #fefefe;
  background-color: #6331a5;
  padding: 25px;
  border-radius: 15px 15px 0px 0px;
}

.slider_section3 {
  color: #fefefe;
  background-color: #6331a5;
  padding: 25px;
  border-radius: 0px 0px 15px 15px;
}

.slider_section4 {
  color: #fefefe;
  background-color: transparent;
  padding: 50px;
}

.slider_section5 {
  color: #fefefe;
  background-color: #366a28;
  padding: 25px;
  border-radius: 15px 15px 0px 0px;
}
.slider_section7 {
  color: #fefefe;
  background-color: #366a28;
  padding: 25px;
  border-radius: 0px 0px 15px 15px;
}

/* --- */


.shop_section .heading_container {
  margin-bottom: 20px;
}

.shop_section .box {
  background-color: #eeeeee;
  position: relative;
  padding: 10px;
  margin-top: 25px;
  border-radius: 8px;
}

.shop_section .box a {
  color: #000000;
}

.shop_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px;
  height: 230px;
}

.shop_section .box .img-box img  {
  max-width: 175px;
  max-height: 175px;
}


.shop_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}



.shop_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.shop_section .btn-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #6168f1;
  color: #ffffff;
  border: 1px solid #6168f1;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.shop_section .btn-box a:hover {
  background-color: transparent;
  color: #6168f1;
}




footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}



/* How microplastics affect your health */
/* .ytlink img{
  max-width: 100px;
  max-height: 35px;
}
.ytlink {
  padding: 0 100px;
} */
.videox {
  display: flex;
  padding: px 20px;
  margin-top: -50px;
  margin-bottom: 30px;
}

.info-bar img{
  -webkit-filter: invert(1);
   filter: invert(1);
  max-width: 25px;
  max-height: 25px;
}


/*# sourceMappingURL=style.css.map */